/* Style for navigation*/

.navigation {}

.nav-link {
    float: right;
}


/* Style for both forms*/

.bothforms {
    background-color: yellow;
    margin: 25px;
    padding: 10px;
}

.forms {
    background: lightblue;
    margin: auto;
    width: 100%;
    border: 3px solid lightgreen;
    padding: 10px;
}

.form1 {
    padding-left: 50px;
}

.form2 {
    padding-left: 50px;
}


/* Style for map image*/

.img {
    margin: 10px;
}


/* Style for footer*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007bff!important;
    color: white;
    text-align: center;
    padding-top: 1px;
}

.footernote {
    padding-bottom: 0px;
}