/* Style for navigation*/

.nav-link {
    float: right;
}


/* Style for both forms*/

.bothforms {
    background-color: yellow;
    margin: 25px;
    padding: 10px;
}

.forms {
    background: lightblue;
    margin: auto;
    width: 100%;
    border: 3px solid lightgreen;
    padding: 10px;
}

.form1 {
    text-align: center;
}

.form2 {
    text-align: center;
}


/* Style for map image*/

.img {
    margin: 10px;
}


/* Style for footer*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007bff!important;
    color: white;
    text-align: center;
    padding-top: 1px;
}

.footernote {
    padding-bottom: 0px;
}

h2 {
    text-align: center;
}

.subheader {
    text-align: center;
}

#begin {
    text-align: center;
}

#map {
    margin-bottom: 14%;
    z-index: 0;
}

#Submit {
    margin-top: 2%;
}

#locationIs {
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}


/* #map {
    margin: auto;
} */

.buyerSeller {
    margin-bottom: 2%;
}