/* this is style for Map Picture*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*nav bar style*/

.test-nav {
    background-color: blue;
}

/* this is style for row class*/

.row {
    padding: 10px;
    padding-bottom: 10px;
}

.subheader {
    text-align: center;
}

/* this is style for Middle Ground picture right next to the address form*/

.mgroundlogo5 {
    display: block;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 150%;
}


/* this is style for the sub-body part of the body*/

.sub-body {
    padding-bottom: 20px;
    margin: 30px;
}


/* this is style for footer*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    color: black;
    text-align: center;
    height: 50px;
}


/*login style*/

.signin {
    padding-top: 10px;
    max-width: 500px;
    margin: auto;
}


/*form style*/

.formstyle {
    background: lightblue;
    padding: 35px;
}


/*profile card style*/

.piccard {
    padding: 20px;
}

label {
    text-align: center;
}

.buyerSeller {
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 4%;
}


/*header*/

h1 {
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    margin-top: 16;
}

.navigation {
    background-color: blue;
}

#mapDiv {
    border: solid 1px black;
    padding: 2%;
    background-color: lightblue;
}

.button {
    display: block;
    margin: auto;
    text-align: center;
}